body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.activityIdSection {
  margin-left: 250px;
  padding: 40px;
  background-color: #ffffff;
  min-height: 100vh;
  box-sizing: border-box;
}

.activityIdSection h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #2c3e50;
  font-size: 28px;
}

#activityDetails p {
  font-size: 16px;
  margin: 10px 0;
}

#activityDetails strong {
  color: #34495e;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 115px;
  color: #2d3e50;
  text-decoration: none;
}

.btn-dashboard{
  display: flex;
  justify-content: center;
  text-decoration: none;
}